@charset  "utf-8";

body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-image: url("Imagens/Foto\ de\ carne.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;  
}

#container-mae{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.container{
    background-color: #fea130b4;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    height: 100vh;
    padding: 20px;
    border-radius: 50px 0px 0px 50px;   
}
.conteudo-container{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 400px;
}
.imagem-churrascometro{
    width: 100%;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}
#resultados{
    margin: auto;
    margin-top: 10px;
    width: 400px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0px 10px 0px;
    font-size: 1.2rem;
}
.texto{
    display: block;
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
    font-size: 1.2rem;
    border: none;
    padding: 10px;
    height: 60px;
    text-align: center;
    
   
}
#botao-calcular{
    display: block;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.31);
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 3.6rem;
    border: 0.1px solid rgba(0, 0, 0, 0.355);
    margin-top: 30px;
    width: 200px;
    height: 50px;
}
#titulo-resultado{
    margin: 0px 0px 5px 0px;
}
.paragrafos-quantidade{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 0px 5px 0px;
}
span{
    
    display: inline-block;
    /*color: rgba(255, 255, 255, 0.837);*/
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 40%;
    margin-left: 30px;
    
    width: 700px;

}
@media screen and (max-width:1270px){

    #container-mae{
        display: block;
        
    }

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    border-radius: 0px;

}
.conteudo-container{
    width: 600px;
}
span{
    display: block;
    text-align: center;
    padding: 30px 0px 30px 0px;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 2.5rem;
}
.imagem-churrascometro{
    width: 400px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
#titulo-resultado{
    font-size: 1.5rem;
}
#resultados{
   width: 600px;
   
}
.paragrafos-quantidade{
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.2rem;
}
}
@media screen and (max-width:712px){
    
 .conteudo-container{
    width: 319px;
}
.imagem-churrascometro{
    width: 320px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}
#resultados{
    width: 319px;
   
}
span{
    font-size: 2rem;
}

}